$black:#0b0b0b;
$white:#fff;
$gray: #7e8287;
$green: #02918c;
$yellow: #cfc91d;




$font-sans-serif: 'Open Sans', 'Arial','Tahoma', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Georgia', 'Times New Roman', 'Times', 'Baskerville', serif;

$text-color: $gray !default;
$background-color: $white !default;
$font-size: 11px !default;
$line-height: 1.9 !default;

$min-width: 320px;
